body {
  margin: 0;
  padding: 0;
  font-family: "cyberpunky", sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: repeating-linear-gradient(
    0deg, /* Horizontal lines */
    #0d0d0d 0px,  /* Gray line */
    #0d0d0d 3px,  /* Thickness of gray line */
    #000000 2px,  /* Start of black space */
    #000000 6px   /* Thickness of black space */
  );
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    #0c3631 0%, /* Center color */
    rgba(0, 0, 0, 0) 70% /* Transparent fade at the edges */
  );
  z-index: 1;
  pointer-events: none; /* Ensures it doesn't interfere with interactions */
}

.description {
  position: absolute;
  bottom: 2%;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #252525;
  color: #fff;
  border-radius: 20px;
  opacity: 0.7;
  padding: 1rem;  
  z-index: 10;
}

.description p {
  text-align: justify;
  max-width: 42rem;
  margin-inline: auto;
  line-height: 1.5;
}

.copyright {
  font-size: 0.65rem;
}

.copyright a {
  color: #fff;
  text-underline-offset: 1px;
}
