@font-face {
  font-family: dice;
  src: url("../assets/fonts/dice.otf");
}

@font-face {
  font-family: cyberpunky;
  src: url("../assets/fonts/magician_rings.ttf");
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.center-container {
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dice', sans-serif;
  text-align: center;
  z-index: 4;
}
.center-text {
  font-size: 1rem; /* Adjust size as needed */
  color: rgb(104, 255, 240);
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
      0deg,
      #0d0d0d 0px,
      #0d0d0d 3px,
      #000000 2px,
      #000000 6px
    );
  overflow: hidden;
}

/* Scanning highlight effect */
.container::before {
  content: "";
  position: absolute;
  top: 100%; /* Start below the container */
  left: 0;
  width: 100%;
  height: 10%; /* The height of the highlighted area */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,          /* Transparent at the start */
    rgba(255, 255, 255, 0.01) 50%, /* Brightest in the middle */
    rgba(0, 0, 0, 0) 100%         /* Transparent at the end */
  );
  animation: scan 2s linear infinite; /* Move from bottom to top */
  pointer-events: none;
}

/* Animation to move the highlight from bottom to top */
@keyframes scan {
  0% {
    top: 100%;
  }
  100% {
    top: -8%; /* End above the container */
  }
}

/* Add radial gradient */
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    #0c3631 0%,
    rgba(0, 0, 0, 0) 70%
  );
  z-index: 1;
  pointer-events: none;
}

/* The twinkling stars (plus signs) */
.plus {
  position: absolute;
  color: #414c4a; /* Brighter color for glowing effect */
  font-size: 30px; /* Larger stars */
  font-family: "Courier New", monospace; /* Ensures the plus is square and proportional */
  font-weight: normal; /* Make the plus bold */
  text-shadow: 0 0 5px #414c4a;
  opacity: 0;
  animation: fade-in-out 3s infinite;
}
/* Keyframes for fade-in and fade-out animation */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.description {
  position: absolute;
  bottom: 2%;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #252525;
  color: #fff;
  border-radius: 20px;
  opacity: 0.7;
  padding: 1rem;  
  z-index: 10;
}

.description p {
  text-align: justify;
  max-width: 42rem;
  margin-inline: auto;
  line-height: 1.5;
}

.copyright {
  font-size: 0.65rem;
}

.copyright a {
  color: #fff;
  text-underline-offset: 1px;
}
