.top-banner {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: max-content;
  height: 90px;
  margin: 0 auto;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: visible;
}
.top-banner::before,
.top-banner::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 0.5px;
  background-color: #40fdfc;
  box-shadow: 0 0px 5px 1px #40fdfc;
}

.top-banner::before {
  top: -100px;
  left: -300px;
  transform: rotate(45deg);
  transform-origin: top left;
}

.top-banner::after {
  top: -100px;
  right: -300px;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.bottom-line {
  position: absolute;
  height: 0.5px;
  width: 540px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #40fdfc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 1px #40fdfc;
}
.bottom-line::before,
.bottom-line::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #40fdfc;
  border-radius: 50%;
  box-shadow: 0 0px 5px 1px #40fdfc;
}
.bottom-line::before {
  left: -5px;
}
.bottom-line::after {
  right: -5px;
}

.top-banner h1 {
  font-size: 2rem;
  color: #40fdfc;
  margin: 0;
  font-family: dice;
  text-shadow: 0 0 3px #40fdfc, 0 0 5px #40fdfc;
}
.top-banner h2 {
  font-size: 5rem;
  color: #f76300;
  margin: 0;
  font-family: cyberpunky;
  text-shadow: 0 0 3px #f76300, 0 0 5px #f76300;
}
.top-banner h3 {
  font-size: 2 rem;
  color: #40b2b3;
  margin: 0;
  font-family: cyberpunky;
  text-shadow: 0 0 3px #40b2b3, 0 0 5px #40b2b3;
}

.top-banner .date-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.top-banner .date-info .month-year {
  text-align: right;
}

.top-banner .date-info .day {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .top-banner {
    font-size: 1.5rem;
  }

  .top-banner .tasks ul li {
    font-size: 1em;
  }
}
