.top-banner {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: max-content;
  height: 80px;
  margin: 0 auto;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: visible;
}
.btop-banner::before,
.btop-banner::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 0.5px;
  background-color: #40fdfc;
  box-shadow: 0 0px 5px 1px #40fdfc;
}

.top-banner::before {
  top: -100px;
  left: -300px;
  transform: rotate(45deg);
  transform-origin: top left;
}

.top-banner::after {
  top: -100px;
  right: -300px;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.top-banner h1 {
  font-size: 2.5rem;
  color: #40fdfc;
  margin: 0;
  font-family: dice;
  text-shadow: 0 0 1px #40fdfc, 0 0 2px #40fdfc;
}
.top-banner h2 {
  font-size: 5rem;
  color: #f76300;
  margin: 0;
  font-family: cyberpunky;
  text-shadow: 0 0 1px #f76300, 0 0 2px #f76300;
}
.top-banner h3 {
  font-size: 2 rem;
  color: #40b2b3;
  margin: 0;
  font-family: cyberpunky;
  text-shadow: 0 0 1px #40b2b3, 0 0 1px #40b2b3;
}

.top-banner .date-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.top-banner .date-info .month-year {
  text-align: right;
}

.top-banner .date-info .day {
  text-align: right;
}

.svg-banner {
  width: auto;
  height: 100px;
  display: block;
  position: absolute;
  margin-top: -6px;
}

